name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  buildandpush:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Spring Boot JAR
        run: mvn -B package --file pom.xml

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/comments-pipeline-demo:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.actor }}/comments-pipeline-demo:latest
